.txtquesome {
  padding: 5px 0;
  text-align: left;
  display: none;
}

.btnquefazsumir {
  display: block;
}

body {
  background-image: linear-gradient(rgb(75, 12, 12), black);
}

.branco {
  color: #fff;
}

.cinza {
  color: #999;
}

.escuro {
  color: #707070;
}

.geral {
  display: flex;
}

.infos {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  width: max-content;
}

.atributos {
  width: fit-content;
}

button {
  background-color: transparent;
  border: none;
  color: #707070;
  margin-top: 5px;
  text-decoration: underline;
}

.armas {
  display: flex;
  width: 100%;
}

.equipamentos {
  width: 50%;
}

.modificações {
  width: 50%;
}

.pentagrama {
  width: 500px;
}

.agilidade {
  position: absolute;
  top: 300px;
  right: 215px;
  color: white;
}

.força {
  position: absolute;
  top: 530px;
  right: 10px;
  color: white;
}

.vigor {
  position: absolute;
  top: 530px;
  right: 440px;
  color: white;
}

.presença {
  position: absolute;
  top: 680px;
  right: 70px;
  color: white;
}

.intelecto {
  position: absolute;
  top: 680px;
  right: 350px;
  color: white;
}

.btn-wrap {
  position: relative;
  text-align: center;
}

.btn-wrap button {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 30px;
  padding: 0;
  border: 0 none;
}

.setDiceValue {
  display: inline-block;
}

.chkbox {
  padding-left: 10px;
  font-weight: bold;
  float: right;
  margin-left: -100px;
}

.checkbox {
  width: 100px;
}

.classe {
  width: 400px;
  display: none;
}

.card {
  position: absolute;
  left: 200px;
  top: 900px;
  z-index: 1000;
}

.img-card {
  width: 600px;
  height: 400px;
}